/* Import scss colors (./styles/configs/colors.scss) */
@import '../configs/colors';

.constructor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form {
    border-style: solid;

    .group {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 80vw;
      * {
        margin: 1em 1em;
      }
    }
  }

  .content {
    margin: 1em 0;
    width: 80vw;
    padding: 1em 0;
    text-align: center;

    .header {
      display: block;
      padding: 0.4em;
      font-size: 1.4em;
      font-weight: 400;
      text-align: right;
      border-bottom: 1px solid $softGrey;
    }

    .helper {
      font-size: 0.8em;
      font-weight: 300;
    }
  }
}

@media (prefers-color-scheme: light) {
  .form {
    border-color: $softWhite;
  }
}

@media (prefers-color-scheme: dark) {
  .form {
    border-color: $softGrey;
  }
}
