/* Color Configs */

/* Custom Colors */
$imperialRed: rgba(230, 60, 70, 1);

/* Default Colors */
$exactBlack: rgba(0, 0, 0, 1);
$exactWhite: rgba(255, 255, 255, 1);

$softWhite: rgba(230, 230, 230, 1);
$softGrey: rgba(38, 38, 38, 1);

/* ---------- DARK CONFIGS ---------- */
$darkBackground: $exactBlack;
$darkText: $softWhite;

/* ---------- LIGHT CONFIGS ---------- */
$lightBackground: $exactWhite;
$lightText: $softGrey;
